@model IEnumerable<Morgenmadsbuffeten_GruppeTo.Models.Entity.Guest>

@{
    ViewData["Title"] = "Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Restaurant</h1>
<div class="row">
    <p>Please check-in guests.</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Children)
            </th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Check_In)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Check_In)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Check_In" asp-route-id="@item.GuestId">Check-in</a>
            </td>
        </tr>
        }
    </tbody>
</table>
