@model IEnumerable<Morgenmadsbuffeten_GruppeTo.Models.Entity.Guest>

@{
    ViewData["Title"] = "Reception";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reception</h1>
<div class="row">
    <p style="margin-left:1%">List of adults and children who has been checked-in at the breatfast buffet.</p>
</div>
<p>
    <a asp-action="Bookings">Add bookings</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Children)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GuestId">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.GuestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
